body {
    background: #121721;
    overflow-x: hidden !important;
    margin: 0;
    padding: 0;
}
html {
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 500px;
  }

.swiper-slide {
    background: url('../images/slider/slide-1.svg') no-repeat; 
    background-size: 100% auto;
}

.btn-genre {
    width: 100px;
    font-size: 12px;
}

.movie-list {
    overflow: auto; 
    white-space: nowrap; 
    scrollbar-width: none !important;
}

.card-movie {
    background: rgb(22, 22, 22);
    color: whitesmoke;
    width: 250px !important; 
    display: inline-block !important; 
    border-radius: 15px !important;
}

.card-img-poster {
    height: 300px;
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px;
}

.card-movie-title {
    font-size: 16px !important; 
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis
}

.icon {
    width: 16px;
}

.icon img {
    width: 16px !important
}

.movie-list::-webkit-scrollbar {
    display: none;
  }

svg {
    color: yellow;
}

.modal-img-poster {
    width: 120px;
    height: 200px;
}

@media (max-width: 1200px) {
    .swiper {
        height: 350px;
    }
}

@media (max-width: 992px) {
    .swiper {
        height: 280px;
    }
}

@media (max-width: 768px) {
    .swiper {
        height: 250px;
    }

    .modal-img-poster {
        width: 200px;
        height: 280px;
    }

    .card-movie {
        width: 160px !important;
        height: 300px !important;
    }

    .card-img-poster {
        height: 180px;
    }

    #btn-modal-movie {
        margin-top: 0 !important;
        padding-top: 0 !important;
        font-size: 14px;
    }
}

@media (max-width: 650px) {
    .swiper {
        height: 200px;
    }
    .btn-category {
        margin-top: 5% !important;
    }
}

@media (max-width: 500px) {
    .swiper {
        height: 150px;
    }
    .btn-category {
        margin-top: 5% !important;
    }
}
/* .text-slide {
    width: 100%;
    height: 600px;
} */

  /* .swiper-button-prev,
  .swiper-button-next {
      color: rgb(93, 93, 93);
      opacity: 0.3;
  }

  .swiper-button-prev:hover,
  .swiper-button-next:hover {
      opacity: 1;
  } */